@import "./tab-bar";
@import "./tab-bar.ios.vars";

// iOS Tabs
// --------------------------------------------------

:host {
  // default color / background
  --background: #{$tabbar-ios-background};
  --color-selected: #{$tabbar-ios-color-activated};
  --background-focused: #{$tabbar-ios-background-focused};

  justify-content: center;

  height: $tabbar-ios-height;

  border-top: $tabbar-ios-border;

  contain: strict;
}

:host(.placement-top) {
  border-top: 0;
  border-bottom: $tabbar-ios-border;
}

// iOS Translucent Tabbar
// --------------------------------------------------

:host(.tabbar-translucent) {
  background-color: #{current-color(base, .8)};
  backdrop-filter: $tabbar-ios-translucent-filter;
}
