@import "./tab-bar";
@import "./tab-bar.md.vars";

:host {
  // default color / background
  --color-selected: #{$tabbar-md-color-activated};
  --background: #{$tabbar-md-background};
  --background-focused: #{$tabbar-md-background-focused};

  height: $tabbar-md-height;

  border-top: $tabbar-md-border;

  contain: strict;
}
